@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a lanchonete Tabala</h1>
    <img src="~/logo.png" alt="Logo da Lanchonete Tabala" class="img-fluid" />
</div>
